@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 334.19px;
}

.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}

p{
    font-family: $font-family-serif;
    font-size: 14px;
}

h3{
    font-family: Hanuman;
    font-size: 18px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 335px;
    
a{
    text-decoration: none;
    color: white;
}
}

.bgImage{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/presentationzoo.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        position: relative;
    }
}

.hero-scene{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/BigTitleBgR.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(0.3);
    }

    *{
        position: relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.bgBaniere-Savane{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/SavaneBanièreR4.jpg);
        background-size: cover;
        background-position: bottom;
        filter: brightness(0.4);
    }

    *{
        position: relative;
    }
}

.bgBaniere-Jungle{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/JungleBanière.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(0.3);
    }

    *{
        position: relative;
    }
}

.bgBaniere-Marais{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/MaraisBanière.jpg);
        background-size: cover;
        background-position: bottom;
        filter: brightness(0.3);
    }

    *{
        position: relative;
    }
}

.bgBaniere-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-header .btn-close {
    padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
    margin-top: calc(-0.5 * var(--bs-modal-header-padding-y));
    margin-right: calc(-0.5 * var(--bs-modal-header-padding-x));
    margin-bottom: calc(-0.5 * var(--bs-modal-header-padding-y));
    margin-left: 0px;
  }

  .uicn{
    background-color:#1B6004;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
  .uicnVu{
    background-color:#c9d617;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }

  .ellipse{
    clip-path: ellipse(50% 50%);
  }

  .buttonPerso{
    background-color: white;
    border: none;
    border-radius: 4px;
    :hover{
        background-color: $primary;
        color: white;
        transition: 0,7s;
        border-radius: 4px;
    }
  }